//*****************************************************
//*   MAIN SCSS
//*****************************************************

@import "./scss/base/reset", "./scss/abstracts/mixins",
  "./scss/abstracts/variables";
@import "./scss/pages/home", "./scss/pages/about", "./scss/pages/projects",
  "./scss/pages/contact";
@import "./scss/components/nav", "./scss/components/footer",
  "./scss/components/responsive";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Licorice&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:wght@300&family=Sedgwick+Ave&display=swap");

//! Fontawesome Library
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

body {
  font-family: $font-family;
  line-height: 1;
  color: $text-color;
  background-color: $primary-color;
  height: 100vh;
}

//* Links
Link {
  text-decoration: none;
  color: $text-color;
}

//* Headings
h1,
h2,
h3 {
  font-weight: 400;
}
.home h1 {
  margin-top: 1rem;
  font-family: "Sedgwick Ave";
}

.Fullstack {
  font-weight: 600;
  font-size: 2.5rem;
  font-family: "Sedgwick Ave";
}

.twitter {
  color: rgb(36, 181, 238);
}
.linkedin {
  color: blue;
}
.instagram {
  padding: 0;
  text-align: center;
  width: 32px;
  height: 32px;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
