// ?=========================================================
// ?                    CARDS CSS
// ?=========================================================

@import "./abstracts/variables";

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  .cards {
    background-color: $cardNavBgColor;
    box-shadow: 2px 5px 10px 5px $shadowColor;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    border: 1px solid $secondary-color;
    .btn-div {
      text-align: center;
      padding: 1rem;

      .btn {
        color: white;
        background-color: rgb(36, 181, 238);
        padding: 0.5rem 0.6rem;
        border-radius: 10px;
        width: 60%;
        text-align: center;
        margin: 0.5 rem auto;
        border: none;
        &:hover {
          box-shadow: 2px 2px 5px 2px gray;
        }
      }
    }

    .title {
      padding: 0.5rem;
      color: white;
    }
    .img-div {
      max-width: 500px;
      border-radius: 10px;
      filter: grayscale(0%);
      img {
        width: 100%;
      }
    }

    &:hover {
      .title {
        color: $backgroundColor;
      }
      .img-div {
        img {
          filter: grayscale(80%);
        }
      }
    }
  }
}
